

@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<section class="site-section element-animate">
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-md-2">
                <div class="block-16">
                    <figure>
                        <img src="images/as1.jpg" alt="Image placeholder" class="img-fluid">
                    </figure>
                </div>
            </div>
            <div class="col-md-6 order-md-1">

                <div class="block-15">
                    <div class="heading">
                        <h2>О портале</h2>
                    </div>
                    <div class="text mb-5">
                        <p>Задачей данного портала является контроль воинского учета военнообязанного населения Республики Казахстан. Здесь вы можете узнать где вы приписаны на учет, изменить личные данные, встать на учет.</p>
                        <p>Портал был создан по заказу Министерства Обороны Республики Казахстан.</p>

                    </div>

                </div>

            </div>

        </div>

    </div>
</section>
<!-- END section -->
<!-- END section -->

<div class="container site-section element-animate">
    <div class="row justify-content-center mb-5 element-animate">
        <div class="col-md-7 text-center section-heading">

        </div>
    </div>
    <div class="block-3 d-md-flex pt-5">
        <div class="image" style="background-image: url(images/iio1.jpg); "></div>
        <div class="text">
            <h2 class="heading"> Единственный в официальный портал данного рода в стране</h2>
            <p>Данный портал не имеет других аналогов в РК, и работает под руководством Министерства Обороны РК.</p>
        </div>
    </div>
    <br>
    <div class="block-3 d-md-flex">
        <div class="image order-2" style="background-image: url('images/nov1.jpg'); "></div>
        <div class="text order-1">
            <h2 class="heading"> Вся база в одном месте.</h2>
            <p>Вашу проблему быстро решат.</p>
        </div>
    </div>
    <br>
    <br><br>
</div>